# Define filename
FILE_NAME="$(date -d 'next hour' '+%Y %b %d %H:00').mp3"

# Start a recording now
nohup ffmpeg -i {{ on_air_stream_url }} -t $((3600 + {{ record_overlap }} * 2)) -f mp3 -ab 128k "${{ content_path }}/$FILE_NAME" > /dev/null 2>&1 &

# Completely detach the recording process from this process
disown

# Delete all records older than the defined buffer size
find "{{ content_path }}" -type f -mmin +{{ circular_buffer_size }} -delete
