server {
    listen {{ web_server_port }} default_server;
    listen [::]:{{ web_server_port }} default_server;
    server_name _;
    
    root {{ content_path }};

    location / {
        try_files $uri $uri/ =404;
        autoindex on;
    }
    
    location ~ /\. {
        deny all;
    }
}
